.tabs {
  margin-top: 56px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  text-transform: capitalize;
  border-bottom: 1px solid #0000001a;
}

.tab {
  cursor: pointer;
}

.tab.active {
  color: #000;
  font-weight: 500;
  border-bottom: 2px solid #000000;
}
