.nav-menu-list {
  display: flex;
  column-gap: 24px;
}

.nav-menu-item > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.footer-nav-list a {
  color: #00000099;
  line-height: 18px;
}
