/*Reset CSS*/
button {
  border: none;
  background-color: #fff;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

input {
  border: none;
}

/*Base CSS*/
@font-face {
  font-family: 'satoshi';
  src: url(../public/assets/fonts/Satoshi-Variable.ttf);
}

@font-face {
  font-family: 'integralcf';
  src: url(../public/assets/fonts/IntegralCF-Bold.ttf);
}

* {
  font-family: 'satoshi', sans-serif;
  color: #00000099;
}
