/*Reset CSS*/
button {
  border: none;
}

/*Base CSS*/
@font-face {
  font-family: 'satoshi';
  src: url(../public/fonts/Satoshi-Variable.ttf);
}

@font-face {
  font-family: 'integralcf';
  src: url(../public/fonts/integralcf-bold.otf);
}

* {
  font-family: 'satoshi', sans-serif;
}
