/*Reset CSS*/
button {
  border: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

/*Base CSS*/
@font-face {
  font-family: 'satoshi';
  src: url(../public/fonts/Satoshi-Variable.ttf);
}

@font-face {
  font-family: 'integralcf';
  src: url(../public/fonts/integralcf-bold.otf);
}

* {
  font-family: 'satoshi', sans-serif;
  color: #00000099;
  font-size: 16px;
  line-height: 22px;
}
