.btn-dropdown {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: #000;
  text-transform: capitalize;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid #000;
  background-color: #f0f0f0;
}

.dropdown-menu a {
  display: block;
  text-transform: capitalize;
  color: #000;
  padding: 0 5px;
}

.dropdown-menu a:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
