.discount-notification {
  background-color: #000;
}

.discount-notification > .container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notification-msg {
  color: #fff;
  flex-grow: 1;
  text-align: center;
}

.sign-up-link {
  color: #fff;
  text-decoration: underline;
}

.btn-close {
  justify-self: right;
}

.header {
  padding: 24px 0;
  display: flex;
  column-gap: 40px;
  line-height: 48px;
  border-bottom: 1px solid #0000001a;
}

.header-icons {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.cart-quantity {
  position: absolute;
  margin-left: -10px;
  background-color: #ff0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
