.discount-notification {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 10px 100px;
}

.notification-msg {
  color: #fff;
  flex-grow: 1;
  text-align: center;
}

.sign-up-link {
  color: #fff;
}

.btn-close {
  justify-self: right;
}

.header {
  padding: 24px 0;
  display: flex;
  column-gap: 40px;
  line-height: 48px;
  border-bottom: 1px solid #0000001a;
}

.nav-menu-list {
  display: flex;
  column-gap: 24px;
}

.nav-menu-item > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.header-icons {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
