.product-details {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.product-image {
  display: flex;
  column-gap: 14px;
}

.product-image-sm {
  border-radius: 20px;
}

.selected {
  border: 1px solid #000;
}

.list-product-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-product-image img {
  width: 150px;
  height: 166px;
}

.product-details > .product-infor {
  margin: 0;
}

.product-details > .product-infor > .rating-stars {
  margin: 14px 0;
}

.product-desc {
  margin-top: 10px;
}

.quantity-button-container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
