/*Base CSS*/
@font-face {
  font-family: 'satoshi';
  src: url(/assets/fonts/Satoshi-Variable.ttf);
}

@font-face {
  font-family: 'integralcf';
  src: url(/assets/fonts/IntegralCF-Bold.ttf);
}

#root {
  font-family: 'satoshi', sans-serif;
  color: #00000099;
}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1240px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
