.btn {
  border-radius: 62px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  column-gap: 12px;
}

.btn-outline {
  border: 1px solid #0000001a;
  background-color: #fff;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
}

.btn-sm {
  padding: 12px 38px;
}

.btn-md {
  padding: 15px 159px;
}

.btn-lg {
  padding: 18px 155px;
}
