.feedback-card {
  padding: 28px 30px;
  border: 1px solid #0000001a;
  border-radius: 20px;
}

.feedback-card:hover {
  box-shadow: #64646f33 0px 7px 29px 0px;
}

.feedback-card-header {
  display: flex;
  justify-content: space-between;
}

.customer-name {
  display: flex;
  column-gap: 4px;
  margin: 12px 0;
  align-items: center;
}

.customer-comment {
  max-width: 50ch;
}

.feedback-date {
  margin-top: 24px;
  font-weight: 500;
}

.list-feedback-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(610px, 1fr));
  gap: 20px;
}
