:root {
  --star-size: 18px;
  --background-color: #fff;
  --star-color: #ffc633;
}

.rating-stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-color) var(--percent), var(--background-color) var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}