.home-page-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  padding: 80px 100px;
}

.filter-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  border: 1px solid #0000001a;
  border-radius: 20px;
}

.list-products-header {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 16px;
}

.product-style {
  flex-grow: 1;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  color: #000;
}

.sort-option-list {
  border: none;
  outline: none;
  font-weight: 700;
  color: #000;
}
