.text-name {
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}

.text-name-default {
  font-size: 20px;
  line-height: 27px;
}

.text-title {
  font-family: 'integralcf';
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.text-title-sm {
  font-size: 32px;
  line-height: 38px;
}

.text-title-md {
  font-size: 40px;
  line-height: 48px;
}

.text-title-lg {
  font-size: 48px;
  line-height: 58px;
}

.empty-message {
  font-size: 40px;
}
